:root {
  --primary-colour: #03045e;
  --secondary-colour: #0b8a91;
  --tertiary-colour: #252829;
}

body {
  background-color: #fafafa;
  color: var(--secondary-colour);
  font-family: 'League Spartan', sans-serif;

}


/* NAME TAG,should this be outside */
#zakmohamed {
  font-weight: 600;
  font-size: 1.25rem;
}

/***************************************/
/* HAMBURGER MENU COMPONENT*/
/***************************************/

/* Hide the checkbox */
.menu-toggle {
  display: none;
}

/* Style the hamburger button */
.hamburger {
  font-size: 2rem;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  color: var(--primary-colour);
}

/* Hide the hamburger button and display navitems for larger screens */
@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}




/* Style the navigation menu container for mobile screens*/
@media screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 40%;
    height: 100%;
    background-color: var(--tertiary-colour);
    opacity: 0.9;
    transition: right 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }

  /* Display navitems in a column */
  .navitems {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
  }
}


/* When the checkbox is checked, display the navigation menu */
.menu-toggle:checked ~ .nav-menu {
  right: 0;
}

.menu-toggle:checked ~ .hamburger {
  display: inline-block;
  z-index: 2;
  color: #ffffff;
}

.navitems {
  display: flex;
  justify-content: space-between;
  list-style: none;
  
}

.navitems > li > a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

/***************************************/
/* END OF HAMBURGER MENU COMPONENT*/
/***************************************/

h1 {
  text-align: center;
  opacity: 0.9;
  font-size: 4em;
  font-weight: 700;
}

main > section > p {
  color: var(--tertiary-colour);
  line-height: 1.25;
  font-size: 1.5 rem;
}

.contact-links > a > img{
  width: 15vw;
  border: 10px solid var(--secondary-colour);
  background-color: var(--secondary-colour);
  border-radius: 100%;
  
}

.contact-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  width: 50vw; 
  border: 1px solid var(--secondary-colour);
  /* position: fixed;
  bottom: 20; */

}

/* <--- Footer ---> */



.socials {
  padding-bottom: 1.5em;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.socials-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 50vw;

}

.socials-links > a > img {
  width: 40px;
}


/* Tablet view */
@media screen and (min-width: 768px) {
  /* tablet-specific CSS styles here */
  header {
    margin: 2rem 0;
  }

  body {
    max-width: 75vw;
    margin: auto;
    min-height: 100vh;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  #zakmohamed {
    font-weight: 600;
    font-size: 1.5rem;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-menu {
    width: 70%;
  }

  .navitems {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;

  }
  
  .navitems > li > a {
    text-decoration: none;
    color: var(--primary-colour);
    font-weight: 600;
    font-size: 1.5rem;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
  }   

  main {
    display: flex;
    flex-direction: column;
  }

  h1 {
    opacity: 0.9;
    font-size: 4em;
    font-weight: 700;
  }

  .contact-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 3em 0;
    width: 50vw;
  }

  .contact-links > a > img{
    width: 7vw;
    max-height: 20vh;
    border: 10px solid var(--secondary-colour);
    background-color: var(--secondary-colour);
    border-radius: 100%;
    
  }

  .socials {
    padding-bottom: 1.5em;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .socials-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 30vw;
    padding-top: 1.5em;
    
  }
}

/* Desktop view */
@media screen and (min-width: 1024px) {
  /* desktop-specific CSS styles here */
  header {
    margin: 2rem 0;
  }
  
  #zakmohamed {
    font-weight: 600;
    font-size: 2rem;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-menu {
    width: 65%;
  }

  .navitems {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  
  .navitems > li > a {
    text-decoration: none;
    color: var(--primary-colour);
    font-weight: 600;
    font-size: 2rem;
    
  }
  
  body {
    width: 70vw;
  }

  h1 {
    opacity: 0.9;
    font-size: 4em;
    font-weight: 700;
  }

  .contact-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 3em 0;
    width: 50vw;
  }


  .contact-links > a > img {
    width: 7vw;
    border: 10px solid var(--secondary-colour);
    background-color: var(--secondary-colour);
    border-radius: 100%;
    
  }

  hr {
    width: 90%; 
    border: 1px solid var(--secondary-colour);
  }

  .socials {
    padding-bottom: 1.5em;
    position: fixed;
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .socials-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 30vw;
    padding-top: 1.5em;
    
  }
}
