:root {
  --primary-colour: #03045e;
  --secondary-colour: #0b8a91;
  --tertiary-colour: #252829;
}

body {
  background-color: #fafafa;
  color: var(--secondary-colour);
  font-family: 'League Spartan', sans-serif;

}

a {
  text-decoration: none;
}

#zakmohamed {
  font-weight: 600;
  font-size: 1.25rem;
}

/* HAMBURGER MENU */

/* Hide the checkbox */
.menu-toggle {
  display: none;
}

/* Style the hamburger button */
.hamburger {
  font-size: 2rem;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  color: var(--primary-colour);
}

/* Hide the hamburger button and display navitems for larger screens */
@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
  /* .navitems {
    display: flex;
    gap: 1rem;
  } */
}

/* Style the navigation menu container for mobile screens*/
@media screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 40%;
    height: 100%;
    background-color: var(--tertiary-colour);
    opacity: 0.9;
    transition: right 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }

  /* Display navitems in a column */
  .navitems {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
  }
}


/* When the checkbox is checked, display the navigation menu */
.menu-toggle:checked ~ .nav-menu {
  right: 0;
}

.menu-toggle:checked ~ .hamburger {
  display: inline-block;
  z-index: 2;
  color: #ffffff;
}

.navitems {
  display: flex;
  justify-content: space-between;
  list-style: none;
  
}

.navitems > li > a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* <--- Hero image and introduction ---> */
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.hero-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img#avatar {
  border-radius: 50%;
  min-width: 20vw;
  max-height: 35vh;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;  
  margin: 0;
  height: fit-content;
}

.textintro {
  
  text-align: center;
  /* width: 55%; */
  height: auto;
}

.hi {
  font-size: 2rem;
  font-weight: 300;
  color: var(--tertiary-colour);
}

.zak {
  opacity: 0.9;
  font-size: 3rem;
  color: var(--secondary-colour);
}

.iBuild {
  opacity: 0.7;
  font-size: 2.5rem;
  color: var(--primary-colour);
}

/* <--- Resume and Contact buttons ---> */
.resume-contact {
  display: flex;
  justify-content: center;
  
}

#resume-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-color: var(--primary-colour);
  padding: 1rem;
  font-size: 2rem;
  border-radius: 5%;
  margin-right: 1em;
}

#contact-me-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid var(--secondary-colour);
  color: #252829;
  font-size: 2rem;
  border-radius: 5%;
  padding: 1rem;
}

.blog-preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 60vh;
  justify-content: space-between;
  width: 90vw;
  /* margin-bottom: 60px; */
}

.blog-preview-container > div > p {
  opacity: 0.9;
  font-size: 4em;
  font-weight: 700;
  text-align: center;
  color: var(--secondary-colour);
  text-underline-offset: 1rem;
}

/* <--- Blog Preview Cards ---> */

.blog-preview-container {
  margin-top: 100px;
}

.blog-previews {
  display: flex;
  flex-direction: column;
  width: 90vw;
}

.blog-previews > article {
  background-color: #ffffff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5%;
  color: var(--tertiary-colour);
  font-size: 1.25rem;
  line-height: 1.15;
  margin: 20px auto;
  height: fit-content;
  width: 90%;
  padding: 1em;
}

.blog-previews > article > img {
  width: 100%;
  height: 40%;
  margin: auto;
  border-radius: 3%;
}

.blog-previews > article > p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 10; /* Adjust the number of lines you want to show */
  -webkit-box-orient: vertical;
  max-height: calc(1.2em * 10); /* Adjust the '4' to match the -webkit-line-clamp value */
  line-height: 1.2em; /* Adjust the line-height as needed */
  margin-bottom: 1.5rem; /* Add some space between the text and the 'See More' button */
}

/* .blog-previews > article > a {
  display: inline-block;
  margin-bottom: 2em;
} */

#see-more-btn {
  border: 3px solid var(--secondary-colour);
  color: var(--tertiary-colour);
  display: inline-block;
  margin-bottom: 2em;
  font-weight: 600;
  border-radius: 5%;
  padding: 1rem;
  text-decoration: none;
  
}

/* Go to blog btn style and container*/
.blog-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  margin-bottom: 2em;
}

#see-blog-btn {
  border: 5px solid var(--secondary-colour);
  border-radius: 5%;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--tertiary-colour);
  text-decoration: none;
  
}

/* <--- Footer ---> */


hr {
  width: 50vw; 
  border: 1px solid var(--secondary-colour);
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.5em;
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.socials-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50vw;
}

.socials-links > a > img {
  width: 40px;
}


/* Tablet view */
@media screen and (min-width: 768px) {
  /* tablet-specific CSS styles here */
  header {
    margin: 2rem 0;
  }

  body {
    max-width: 75vw;
    margin: auto;
    min-height: 100vh;
  }

  
  #zakmohamed {
    font-weight: 600;
    font-size: 1.5rem;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-menu {
    width: 70%;
  }

  .navitems {
    display: flex;
    justify-content: space-between;
    /* width: 30%; */
    list-style: none;
    align-items: center;

  }
  
  .navitems > li > a {
    text-decoration: none;
    color: var(--primary-colour);
    font-weight: 600;
    font-size: 1.5rem;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
  }  

  .hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 60vh;
  }


  .hero-img-container {
    order: 2;
    margin: 0;
  }

  img#avatar {
    border-radius: 50%;
    min-width: 30vw;
    max-height: 50vh;
  }

  .textintro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
  }

  .zak {
    font-size: 3rem;
  }

  .iBuild {
    font-size: 3rem;
  }

  .blog-previews {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .blog-previews > article {
    background-color: #ffffff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5%;
    color: var(--tertiary-colour);
    margin: 1em;
    height: 80vh;
    width: 65%;
    padding: 1em;
  }
  
  .blog-previews > article > img {
    width: 100%;
    height: 40%;
    margin: auto;
    border-radius: 3%;
  }

  /* Even though i only styled this button mobile first, it
  breaks in deployment so i am moving them inside the media
  queries as well */

  #see-more-btn {
    border: 3px solid var(--secondary-colour);
    color: var(--tertiary-colour);
    display: inline-block;
    margin-bottom: 2em;
    font-weight: 600;
    border-radius: 5%;
    padding: 1rem;
    text-decoration: none;
  }
}

/* <--- Tablet Portrait Mode ---> */
@media screen and (min-width: 768px) and (orientation: portrait) {
  /* Add your styles for tablet devices (portrait mode) here */
  .hero-img-container {
    order: 2;
    margin: 0;
    height: 40vh;
  }

  /* .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */

  img#avatar {
    max-width: 20vw;
    max-height: 50vh;
  }  

  .hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 50vh;
  }

  #iBuild {
    font-size: 2.5rem;
  }
}

/* Desktop view */
@media screen and (min-width: 1024px) {
  /* desktop-specific CSS styles here */
  header {
    margin: 2rem 0;
  }
  
  #zakmohamed {
    font-weight: 600;
    font-size: 2rem;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-menu {
    width: 65%;
  }

  .navitems {
    display: flex;
    justify-content: space-between;
    list-style: none;
    

  }
  
  .navitems > li > a {
    text-decoration: none;
    color: var(--primary-colour);
    font-weight: 600;
    font-size: 2rem;
  }
  
  .hero-container {
    height: fit-content;
  }

  .blog-preview-container > div > p {
    opacity: 0.9;
    font-size: 4em;
    font-weight: 700;
  }
  
  .blog-preview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 60vh;
    justify-content: space-between;
    width: 60vw;
    /* margin-bottom: 60px; */
  }
  
  .blog-previews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
  }
  
  .blog-previews > article {
    background-color: #ffffff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5%;
    color: var(--tertiary-colour);
    margin: 1em;
    height: 80vh;
    width: 50%;
    padding: 1em;
  }
  
  .blog-previews > article > img {
    width: 100%;
    height: 50%;
    margin: auto;
    border-radius: 3%;
  }
  
    /* Even though i only styled this button mobile first, it
  breaks in deployment so i am moving them inside the media
  queries as well */

  #see-more-btn {
    border: 3px solid var(--secondary-colour);
    color: var(--tertiary-colour);
    display: inline-block;
    margin-bottom: 2em;
    font-weight: 600;
    border-radius: 5%;
    padding: 1rem;
    text-decoration: none;
  }
}



